body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
